<div th:switch="${files}" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 th:case="null">No files yet!</h2>
    <div th:case="*">
        <h2>Files</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${files}">
                <td th:text="${file.name}"></td>
                <td><a th:href="@{/edit/{id}(id=${file.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${file.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/fileCreate">Add a new file</a></p>
    <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>

    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
</div>