<div th:switch="${files}" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 th:case="null">No files yet!</h2>
    <div th:case="*">
        <h2>Files</h2>
        <table style = "border:2px solid black;">
            <thead>
            <tr style = "border:2px solid black;">
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr style = "border:2px solid black;" th:each="fileP : ${files}">
                <td style = "border:2px solid black;" th:text="${fileP.name}"></td>
                <td style = "border:2px solid black;"><a th:href="@{/edit/{id}(id=${fileP.id})}">Edit</a></td>
                <td style = "border:2px solid black;"><a th:href="@{/delete/{id}(id=${fileP.id})}">Delete</a></td>
                <td style = "border:2px solid black;"><a th:href="@{/open/{id}(id=${fileP.id})}">Open</a></td>
                <td style = "border:2px solid black;"><a th:href="@{/addLink/{id}(id=${fileP.id})}">Share link</a></td>
                <td style = "border:2px solid black;"><a th:href="@{/deleteLink/{id}(id=${fileP.id})}">Remove all existing shared links</a></td>

                <th:block th:switch="${fileP.type}">
                    <div th:case="1">
                        <td><form enctype="multipart/form-data" action="#" th:action="@{/subAdd}" th:object="${file}" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
                            <label for="name">Name</label>
                            <input type="text" th:field="*{name}" id="name" placeholder="Name">
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            <input type="text" th:field="*{type}" id="type" placeholder="Type">
                            <input type="hidden" name = "parent" id="parent" th:value="${fileP.name}">
                            <input type="hidden" name = "parentId" id="parentId" th:value="${fileP.id}">

                            File to upload: <input name="file" type="file"/>

                            <input type="submit" value="Add File">
                        </form></td>
                    </div>
                </th:block>

            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/fileCreate">Add a new file</a></p>
    <p><a href="/index">Return</a></p>

    <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>

    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
</div>